*.pyc
*.log
**/.ipynb_checkpoints/
extension/scalalistener/project/
extension/scalalistener/target/
*.egg-info/
extension/sparkmonitor/dist/
extension/sparkmonitor/build/
extension/js/node_modules/
extension/sparkmonitor/sparkmonitor/static/
*.jar
extension/docs/
