*.pyc
*.log
**/.ipynb_checkpoints/
extension/scalalistener/jupyterspark/project/
extension/scalalistener/jupyterspark/target/
*.egg-info/
extension/dist/
extension/build/
extension/node_modules/
extension/sparkmonitor/static/
*.jar
extension/docs/
