*.pyc
*.log
**/.ipynb_checkpoints/
extension/scalalistener/project/
extension/scalalistener/target/
*.egg-info/
extension/dist/
extension/build/
extension/node_modules/
extension/sparkmonitor/static/
extension/docs/
extension/node_modules/*
node_modules
node_modules/*
.vscode/settings.json
extension/venv/*
extension/venv
scalalistener/*
venv/*
