jupyter
jupyterlab
altair
boto3
data-science
ipykernel
ipython<7.0.0
h5py
keras
keras-contrib
lightgbm
matplotlib
marathon
model_trainer
mpld3
mr3po
numpy
oauthenticator
pandas
pyarrow
pyspark==2.4.3
s3fs
scikit-learn<=0.20.2
scipy
seaborn
spacy<2
statsmodels
srv_configs
en-core-web-sm<2
spark_etl
spark_tools
tensorflow-gpu
xgboost==0.82
yelp-data