.pm .tdstageicon {
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 15px;
  /* display: inline-block; */
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(0deg);
}

.pm .tdstageiconcollapsed {
  transform: rotate(90deg);
}

.pm td.stagetableoffset {
  background-color: #e7e7e7;
}

.pm th {
  font-size: small;
  background-color: #EEEEEE;
  border: 0px;
}

.pm td {
  background-color: white;
  border: 0;
  font-size: small;
  border-top: 1px solid rgba(84, 84, 84, 0.08);
}

.pm table {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #CFCFCF;
  /* height: 10px; */
}

.pm tbody {
  height: 100px;
  overflow: auto;
}

.pm tr {
  border: 0px;
}

.pm td, .pm th {
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}

.pm tr .tdstagebutton:hover ~ td, tr .tdstagebutton:hover {
  background-color: rgba(184, 223, 255, 0.37);
}

.pm th.thbutton {
  width: 4%;
}

.pm th.thjobid {
  width: 6%;
}

.pm th.thjobname {
  width: 10%;
}

.pm th.thjobstatus {
  width: 12%;
}

.pm th.thjobtages {
  width: 10%;
}

.pm th.thjobtasks {
  width: 28%;
}

.pm th.thjobstart {
  width: 20%;
}

.pm th.thjobtime {
  width: 10%;
}

.pm th.thstageid {
  width: 8%;
}

.pm th.thstagename {
  width: 10%;
}

.pm th.thstagestatus {
  width: 17%;
}

.pm th.thstagetasks {
  width: 33%;
}

.pm th.thstagestart {
  width: 20%;
}

.pm th.thstageduration {
  width: 12%
}

progress {
  padding: 2px;
}

.pm .tdstatus {
  padding: 2px;
}

.pm .RUNNING {
  background-color: #42A5F5;
}

.pm .FAILED {
  background-color: #DB3636;
}

.pm .COMPLETED {
  background-color: #20B520;
}

.pm .PENDING {
  background-color: #9c27b0;
}

.pm .SKIPPED {
  background-color: #616161;
}

.pm .COMPLETED, .pm .FAILED, .pm .RUNNING, .pm .PENDING, .pm .SKIPPED {
  font-size: 75%;
  padding: 4px 8px;
  color: white;
  border-radius: 2px;
}

.pm .stagetable tr th {
  background: rgb(235, 235, 235);
}

.pm .cssprogress {
  overflow: hidden;
  display: block;
  background: #e7e7e7;
  width: 100%;
  height: 20px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-size: 75%;
  border-radius: 2px;
  color: white;
}

.pm .cssprogress .val1 {
  width: 0%;
  background: #20B520;
}

.pm .cssprogress .data {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 4;
  line-height: 20px;
}

.pm .cssprogress .val2 {
  background: #42A5F5;
  width: 0%;
}

.pm .cssprogress span {
  position: relative;
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: width 1s;
}
