.pm {
  /*border: 1px solid #EEEEEE;*/
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.4);
  background-color: #f7f7f7;
  margin: 5px 0px;
}

/*--------------Title Bar--------------------*/
.pm .title {
  background-color: #F37600;
  overflow: hidden;
  height: 30px;
}

.pm .titleright {
  float: right;
  position: relative;
  height: 100%;
}

.pm .titleleft {
  display: inline-block;
  height: 100%;
}

.pm .tbitem {
  padding: 0px 15px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.pm .badgecontainer {
  padding: 0px 5px;
}

.pm .titlecollapse:hover {
  background-color: #C45917;
}

.headericon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 15px;
  display: inline-block;
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(90deg);
}

.headericoncollapsed {
  transform: rotate(0deg);
}

.pm .badges {
  text-align: center;
}

.badgerunning {
  background-color: #42A5F5;
}

.badgecompleted {
  background-color: #20B520;
}

.badgefailed {
  background-color: #DB3636;
}

.badgecompleted, .badgefailed, .badgerunning {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  display: none;
  margin: 0 2px;
}

.badgeexecutor, .badgeexecutorcores {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  margin: 0px 2px;
  background-color: rgba(117, 57, 0, 0.65);
}

.uibuttondisabled {
  color: #b2b2b2;
}

.pm .cancel:active {
  font: larger;
}

.pm .tabbuttonicon {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.pm .timelinetabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAALklEQVR4AWMYRuA/YTjYNdA/lLCJka6BvgDF4gY4uwFZhnQN9PcDIZp0DcMGAADGCJlpwLGAQAAAAABJRU5ErkJggg==);
}

.pm .sparkuitabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVR4AWMYnCCQ4SXDfyLgKwZ/sHq4csLwJVg9mIkfwNUNPg3/Bp+Gv4NPwx96aXhFdOJ7AtHgT2R6fcHgg9ViNIgGCGsY/AAAawWT4i3LWOwAAAAASUVORK5CYII=);
}

.pm .taskviewtabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAQ0lEQVR4Ac3SsQ2AQAzF0LcgOrH/AuSWCHUa0pxQ7Pa7++ZyC/nhthRCNoZC9h4OMCXA9ACDg7+/tNv5o7BEM79M5QVZbBWGPizgRwAAAABJRU5ErkJggg==);
}

.pm .jobtabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAG0lEQVR4AWMY2eA/BMJYmHAQahj19Kinhz0AAOazv0F7pjjzAAAAAElFTkSuQmCC);
}

.pm .stopbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAr0lEQVR4Ab2TxxWDQBBDv2M3bmI7cJquoAsoiJNzAXvdAjBRzjl8XeaNJDL8nSFGyopQaFVMVmzuMGVLfqZtsb1Kl5j8hmK6XFDE7yi6vJj8gaant7pr1hkOr5DHkeleBghTxAGjpuKLCZw8Q6RaFqGmokleglhpqQqKS0tE0FIVxSXCB4UnL+nlm/7gsQ7ZPvPiXvs0Jh9+fNAluhPvfvoDiQFGwpJQaFlMVmz+zB4uewsoywq4xgAAAABJRU5ErkJggg==);
}

.pm .closebuttonicon {
  background-size: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAa0lEQVR4AeWSsREDIQwEtwlRhO3vP0JFPLgeHJDdnEfBh2y8F2hHnM5FJ1AayRtLshiE6F8WHUsw9kT0m8BDMFlMotZ10rzuaHtS63qo6s8HWkaLFXpo5ErXyKWukS25dRM5sXz+Pt+Ls/kBnolC6l7shJkAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center;
}

.pm .tabbutton {
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  padding: 5px 18px;
}

.pm .closebutton {
  padding: 5px 5px;
  border-left: 1px solid #c25e00
}

.pm .tabbuttons {
  margin: 0px 0px;
  font-size: 0;
  /* border: 0 1px solid #c25e00; */
}

.pm .tabbutton:hover {
  background-color: #C45917;
}

.pm .cancelbutton:hover {
  background-color: #C45917;
}

.pm .tabbuttonactive {
  /*color: white;*/
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.46) inset;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 0;
}

/*--------------Content--------------------*/
.pm .content {
  /*padding: 5px;*/
  /*resize: vertical;*/
  /*overflow: hidden;*/
  float: clear;
}

.pm .tabcontent {
  display: none;
}

.jobtablecontent {
  /* display: block; */
}

.pm .tabcontentactive {
  display: initial;
}

.sparkuiframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}

/*-------------Tooltip Popup---------------*/
.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
}

.ui-tooltip-content {
  position: relative;
  padding: 5px;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.tpright .ui-tooltip-content::after {
  top: 5px;
  left: -10px;
  border-color: transparent #666;
  border-width: 10px 10px 10px 0;
}

.tpleft .ui-tooltip-content::after {
  top: 5px;
  right: -10px;
  border-color: transparent #666;
  border-width: 10px 0 10px 10px;
}

.tptop .ui-tooltip-content::after {
  bottom: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 10px 10px 0;
}

.tpbottom .ui-tooltip-content::after {
  top: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}

.sparkui-dialog {
  padding: 0;
  box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.83);
}

.sparkui-dialog .ui-corner-all {
  border-radius: 0px;
}

.sparkui-dialog .ui-dialog-content.ui-widget-content {
  padding: 0;
}

.sparkui-dialog .ui-widget-header {
  border: 1px solid rgb(243, 118, 0);
  background: #f37600;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.pm .taskcontainer {
  user-select: none;
}
