.pm {
  border: 1px solid #EEEEEE;
  background-color: #f7f7f7;
  margin: 5px 0px 0px 0px;
  /*border-radius: 6px;*/
  /*font-family: sans-serif;*/
}

.pm .title {
  background-color: #F37600;
  /*border-radius: 6px 6px 0px 0px; */
  /*padding: 3px;*/
  overflow: hidden;
}

.pm .content {
  /*padding: 5px;*/
  /*resize: vertical;*/
  /*overflow: hidden;*/
  float: clear;
}

.pm .tbitem {
  padding: 5px 15px;
  vertical-align: middle;
  display: table-cell;
}

.pm .tbitem:hover {
  background-color: #C45917;
}


/*Table*/

.tdstageicon {
  display: block;
  transition: transform 0.4s;
  transform: rotate(0deg);
}

.tdstageiconcollapsed {
  transform: rotate(90deg);
}

.pm td.stagetableoffset {
  background-color: #e7e7e7;
}

.pm th {
  font-size: 12;
  /*background-color: #EEEEEE;*/
  border: 0px;
}

.pm td {
  background-color: white;
  border: 0;
  font-size: small;
}

.pm table {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #CFCFCF;
  height: 10px;
}

.pm tbody {
  height: 100px;
  overflow: auto;
}

.pm tr {
  border: 0px;
}

.pm td, .pm th {
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}


/*.pm tr:hover td {
  background-color: #EEEEEE;
}*/

tr .tdstagebutton:hover ~ td, tr .tdstagebutton:hover {
  background-color: rgba(184, 223, 255, 0.37);
}

.pm th.thbutton {
  width: 4%;
}

.pm th.thjobid {
  width: 6%;
}

.pm th.thjobname {
  width: 10%;
}

.pm th.thjobstatus {
  width: 15%;
}

.pm th.thjobtages {
  width: 5%;
}

.pm th.thjobtasks {
  width: 30%;
}

.pm th.thjobstart {
  width: 20%;
}

.pm th.thjobtime {
  width: 10%;
}


/*.pm tr:nth-child(even) td {
  background-color: #f9f9f9;
}*/

progress {
  padding: 2px;
}

.pm .tdstatus {
  padding: 2px;
}

.pm .cancel {
  margin: 0;
  background-color: #F22626;
  /*border-radius: 5px;*/
  text-align: right;
  /*transition: background-color 1s;*/
  border: none;
  cursor: pointer;
  cursor: hand;
  font-size: small;
}

.pm .cancel:hover {
  background-color: #C45917;
}

.pm .cancel:active {
  font: larger;
}

.pm .RUNNING {
  background-color: #42A5F5;
}

.pm .FAILED {
  background-color: #DB3636;
}

.pm .COMPLETED {
  background-color: #20B520;
}

.pm .PENDING {
  background-color: #9c27b0;
}

.pm .SKIPPED {
  background-color: #616161;
}

.pm .COMPLETED, .pm .FAILED, .pm .RUNNING, .pm .PENDING, .pm .SKIPPED {
  font-size: 75%;
  padding: 4px 8px;
  color: white;
  border-radius: 2px;
}


/*Vis timeline style*/

.vis-item {
  border-radius: 0;
  font-size: smaller;
  transition: width 200ms;
}

.vis-item .vis-item-content {
  padding: 1px 2px;
}

.vis-time-axis {
  font-size: smaller;
}

.vis-tooltip {
  color: white;
  background-color: black;
}

.vis-item.vis-background {
  background-color: rgba(191, 191, 191, 0.58);
}

.vis-custom-time {
  pointer-events: none;
  background-color: #42A5F5;
}

.headericon {
  /*display: inline-block;*/
  transition: transform 0.4s;
  transform: rotate(90deg);
  display: table-cell;
  vertical-align: middle;
}

.headericoncollapsed {
  transform: rotate(0deg);
}

.titleright {
  float: right;
  position: relative;
  height: 100%;
}

.visjobgroup {
  /*background-color: ;*/
}

.vis-item.itemrunning {}

.vis-item.itemfinished:not(.vis-selected) {
  background-color: #C9EF9B;
  border-color: #6c9d34;
}

.vis-item.itemfinished:active {
  background-color: #6c9d34;
}

.vis-selected {
  border-color: #ffc200;
  background-color: #fff785;
}

.tabbutton {
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  padding: 5px 15px;
}

.tabbuttons {
  margin: 0px 0px;
}

.pm .tabbutton:hover {
  background-color: #C45917;
}

.tabbuttonactive {
  /*color: white;*/
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.46) inset;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.tabcontent {
  display: none;
}

.tabcontentactive {
  display: initial;
}

.badgerunning {
  background-color: #42A5F5;
}

.badgecompleted {
  background-color: #20B520;
}

.badgefailed {
  background-color: #DB3636;
}

.badgecompleted, .badgefailed, .badgerunning {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  display: none;
}

.pm .badges {
  vertical-align: middle;
  display: table-cell;
}

.pm .toolbar {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1px;
}

.pm .sparkuibutton {
  margin: 0;
  padding: 5px 4px;
  font-size: smaller;
  display: inline-block;
}

.pm .sparkuibutton:hover {
  background-color: #C45917;
  /*text-decoration: underline;*/
  cursor: pointer;
  cursor: hand;
}

.pm .sparkuibutton:active {
  background-color: #F37600
}

.uibuttondisabled {
  color: #b2b2b2;
}

.sparkuiframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/*-------------Tooltip Popup---------------*/

.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
}

.ui-tooltip-content {
  position: relative;
  padding: 5px;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.tpright .ui-tooltip-content::after {
  top: 5px;
  left: -10px;
  border-color: transparent #666;
  border-width: 10px 10px 10px 0;
}

.tpleft .ui-tooltip-content::after {
  top: 5px;
  right: -10px;
  border-color: transparent #666;
  border-width: 10px 0 10px 10px;
}

.tptop .ui-tooltip-content::after {
  bottom: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 10px 10px 0;
}

.tpbottom .ui-tooltip-content::after {
  top: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}

.ui-dialog {
  padding: 0;
}

.ui-corner-all {
  border-radius: 0px;
}

.ui-widget-header {
  border: 1px solid rgb(243, 118, 0);
  background: #f37600;
  color: #000;
  font-weight: bold;
  text-align: center;
}

div.ui-widget-content {
  /*border: 2px solid #c4c4c4;*/
  box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.83);
}

.pm .taskcontainer {
  user-select: none;
}

.pm .stagetable tr th {
  background: #d6d6d6;
}

.cssprogress {
  overflow: hidden;
  display: block;
  background: #e7e7e7;
  width: 100%;
  height: 20px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-size: 75%;
  border-radius: 2px;
  color: white;
}

.cssprogress .val1 {
  width: 0%;
  background: #20B520;
}

.cssprogress .data {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 4;
  line-height: 20px;
}

.cssprogress .val2 {
  background: #42A5F5;
  width: 0%;
}

.cssprogress span {
  position: relative;
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: width 1s;
}

.pm th.thstageid {
  width: 8%;
}

.pm th.thstagename {
  width: 10%;
}

.pm th.thstagestatus {
  width: 17%;
}

.pm th.thstagetasks {
  width: 40%;
}

.pm th.thstagestart {
  width: 25%;
}