.pm {
  /*border: 1px solid #EEEEEE;*/
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.4);
  background-color: #f7f7f7;
  margin: 5px 0px 0px 0px;
}


/*--------------Title Bar--------------------*/

.pm .title {
  background-color: #F37600;
  overflow: hidden;
  height: 30px;
}

.pm .titleright {
  float: right;
  position: relative;
  height: 100%;
}

.pm .titleleft {
  display: inline-block;
  height: 100%;
}

.pm .tbitem {
  padding: 0px 15px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.pm .badgecontainer {
  padding: 0px 5px;
}

.pm .titlecollapse:hover {
  background-color: #C45917;
}

.headericon {
  display: inline-block;
  transition: transform 0.4s;
  transform: rotate(90deg);
}

.headericoncollapsed {
  transform: rotate(0deg);
}

.pm .badges {
  text-align: center;
}

.badgerunning {
  background-color: #42A5F5;
}

.badgecompleted {
  background-color: #20B520;
}

.badgefailed {
  background-color: #DB3636;
}

.badgecompleted, .badgefailed, .badgerunning {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  display: none;
  margin: 0 2px;
}

.uibuttondisabled {
  color: #b2b2b2;
}

.pm .cancel {
  margin: 0;
  background-color: #F22626;
  /*border-radius: 5px;*/
  text-align: right;
  /*transition: background-color 1s;*/
  border: none;
  cursor: pointer;
  cursor: hand;
  font-size: small;
}

.pm .cancel:hover {
  background-color: #C45917;
}

.pm .cancel:active {
  font: larger;
}

.pm .tabbuttonicon {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.pm .timelinetabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAALklEQVR4AWMYRuA/YTjYNdA/lLCJka6BvgDF4gY4uwFZhnQN9PcDIZp0DcMGAADGCJlpwLGAQAAAAABJRU5ErkJggg==);
}

.pm .sparkuitabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVR4AWMYnCCQ4SXDfyLgKwZ/sHq4csLwJVg9mIkfwNUNPg3/Bp+Gv4NPwx96aXhFdOJ7AtHgT2R6fcHgg9ViNIgGCGsY/AAAawWT4i3LWOwAAAAASUVORK5CYII=);
}

.pm .taskviewtabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAQ0lEQVR4Ac3SsQ2AQAzF0LcgOrH/AuSWCHUa0pxQ7Pa7++ZyC/nhthRCNoZC9h4OMCXA9ACDg7+/tNv5o7BEM79M5QVZbBWGPizgRwAAAABJRU5ErkJggg==);
}

.pm .jobtabbuttonicon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAG0lEQVR4AWMY2eA/BMJYmHAQahj19Kinhz0AAOazv0F7pjjzAAAAAElFTkSuQmCC);
}

.pm .tabbutton {
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  padding: 5px 15px;
}

.pm .tabbuttons {
  margin: 0px 0px;
  font-size: 0;
}

.pm .tabbutton:hover {
  background-color: #C45917;
}

.pm .tabbuttonactive {
  /*color: white;*/
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.46) inset;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}


/*--------------Content--------------------*/

.pm .content {
  /*padding: 5px;*/
  /*resize: vertical;*/
  /*overflow: hidden;*/
  float: clear;
}

.pm .tabcontent {
  display: none;
}

.jobtablecontent {
  display: block;
  /* max-height: 300px; */
  /* overflow: auto; */
}

.pm .tabcontentactive {
  display: initial;
}

.sparkuiframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}


/*--------------Job Table--------------------*/

.pm .tdstageicon {
  display: block;
  transition: transform 0.4s;
  transform: rotate(0deg);
}

.pm .tdstageiconcollapsed {
  transform: rotate(90deg);
}

.pm td.stagetableoffset {
  background-color: #e7e7e7;
}

.pm th {
  font-size: small;
  background-color: #EEEEEE;
  border: 0px;
}

.pm td {
  background-color: white;
  border: 0;
  font-size: small;
  border-top: 1px solid rgba(84, 84, 84, 0.08);
}

.pm table {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #CFCFCF;
  /* height: 10px; */
}

.pm tbody {
  height: 100px;
  overflow: auto;
}

.pm tr {
  border: 0px;
}

.pm td, .pm th {
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}

.pm tr .tdstagebutton:hover ~ td, tr .tdstagebutton:hover {
  background-color: rgba(184, 223, 255, 0.37);
}

.pm th.thbutton {
  width: 4%;
}

.pm th.thjobid {
  width: 6%;
}

.pm th.thjobname {
  width: 10%;
}

.pm th.thjobstatus {
  width: 12%;
}

.pm th.thjobtages {
  width: 10%;
}

.pm th.thjobtasks {
  width: 28%;
}

.pm th.thjobstart {
  width: 20%;
}

.pm th.thjobtime {
  width: 10%;
}

progress {
  padding: 2px;
}

.pm .tdstatus {
  padding: 2px;
}

.pm .RUNNING {
  background-color: #42A5F5;
}

.pm .FAILED {
  background-color: #DB3636;
}

.pm .COMPLETED {
  background-color: #20B520;
}

.pm .PENDING {
  background-color: #9c27b0;
}

.pm .SKIPPED {
  background-color: #616161;
}

.pm .COMPLETED, .pm .FAILED, .pm .RUNNING, .pm .PENDING, .pm .SKIPPED {
  font-size: 75%;
  padding: 4px 8px;
  color: white;
  border-radius: 2px;
}


/*--------------Timeline--------------------*/

.pm .vis-timeline {
  border: 1px solid #bfbfbf;
}

.pm .vis-item {
  border-radius: 0;
  font-size: smaller;
  transition: width 200ms;
}

.pm .vis-item .vis-item-content {
  padding: 1px 2px;
}

.pm .vis-time-axis {
  font-size: smaller;
}

.pm .vis-tooltip {
  color: white;
  background-color: black;
}

.pm .vis-item.vis-background {
  background-color: rgba(191, 191, 191, 0.58);
}

.pm .vis-custom-time {
  pointer-events: none;
  background-color: #42A5F5;
}

.pm .visjobgroup {
  /*background-color: ;*/
}

.pm .vis-item.itemrunning {}

.pm .vis-item.itemfinished:not(.vis-selected) {
  background-color: #C9EF9B;
  border-color: #6c9d34;
}

.pm .vis-item.itemfailed:not(.vis-selected) {
  background-color: #F44336;
  border-color: rgb(183, 13, 0);
  color: white;
}

.pm .vis-item.itemfinished:active {
  background-color: #6c9d34;
}

.pm .vis-selected {
  border-color: #ffc200;
  background-color: #fff785;
}


/*-------------Tooltip Popup---------------*/

.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
}

.ui-tooltip-content {
  position: relative;
  padding: 5px;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.tpright .ui-tooltip-content::after {
  top: 5px;
  left: -10px;
  border-color: transparent #666;
  border-width: 10px 10px 10px 0;
}

.tpleft .ui-tooltip-content::after {
  top: 5px;
  right: -10px;
  border-color: transparent #666;
  border-width: 10px 0 10px 10px;
}

.tptop .ui-tooltip-content::after {
  bottom: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 10px 10px 0;
}

.tpbottom .ui-tooltip-content::after {
  top: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}

.ui-dialog {
  padding: 0;
}

.ui-corner-all {
  border-radius: 0px;
}

.ui-widget-header {
  border: 1px solid rgb(243, 118, 0);
  background: #f37600;
  color: #000;
  font-weight: bold;
  text-align: center;
}

div.ui-widget-content {
  /*border: 2px solid #c4c4c4;*/
  box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.83);
}

.pm .taskcontainer {
  user-select: none;
}

.pm .stagetable tr th {
  background: rgb(235, 235, 235);
}

.pm .cssprogress {
  overflow: hidden;
  display: block;
  background: #e7e7e7;
  width: 100%;
  height: 20px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-size: 75%;
  border-radius: 2px;
  color: white;
}

.pm .cssprogress .val1 {
  width: 0%;
  background: #20B520;
}

.pm .cssprogress .data {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 4;
  line-height: 20px;
}

.pm .cssprogress .val2 {
  background: #42A5F5;
  width: 0%;
}

.pm .cssprogress span {
  position: relative;
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: width 1s;
}

.pm th.thstageid {
  width: 8%;
}

.pm th.thstagename {
  width: 10%;
}

.pm th.thstagestatus {
  width: 17%;
}

.pm th.thstagetasks {
  width: 40%;
}

.pm th.thstagestart {
  width: 25%;
}